* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1024px;
  height: 100%;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.btn {
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #00e0d0;
  border-radius: 2px;
  border: 1px #00e0d0 solid;
}

.btn:hover {
  padding: 1rem 2rem;
  color: #00e0d0;
  border: 1px #00e0d0 solid;
}

ul {
  list-style: none;
}

#header {
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(#09052f), to(#311d5e));
  background: linear-gradient(0deg, #09052f 0%, #311d5e 100%);
  height: 100vh;
  padding-top: 0.5rem;
}

#header::before {
  content: '';
  background: url(../images/bg-min.png) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: 100%;
  opacity: 0.1;
}

#header #main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  position: relative;
}

#header #main-nav ul,
#header #main-nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header #main-nav li {
  cursor: pointer;
}

#header #main-nav h1 {
  font-size: 25px;
  font-weight: lighter;
  color: #00e0d0;
  margin-left: 8px;
}

#header #main-nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  padding: 5px;
}

#header #main-nav a:hover, #header #main-nav a.current {
  color: #00e0d0;
}

#header #main {
  position: relative;
  text-align: center;
  color: white;
  padding: 0 2rem;
  margin-top: 10rem;
}

#header #main h1 {
  text-transform: capitalize;
}

#header #main div.bottom-line {
  background: #00e0d0;
  height: 2px;
  width: 3rem;
  display: block;
  margin: 1rem auto;
}

#header #main p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin: 3rem;
}

#about {
  margin: 2rem 0;
  padding: 1rem 0;
}

#about .about-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 1rem 0;
}

#about .about-content img {
  position: relative;
  left: 180px;
  height: 250px;
}

#about .about-content .story-content h1 {
  font-size: 22px;
  text-transform: uppercase;
  color: #413d4b;
  font-weight: bold;
  line-height: 1.2;
  height: 16px;
}

#about .about-content .story-content p {
  font-size: 1rem;
  color: rgba(65, 61, 75, 0.749);
  line-height: 1.571;
  margin: 30px 0;
  padding-bottom: 1.1rem;
}

#video {
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(#09052f), to(#311d5e));
  background: linear-gradient(0deg, #09052f 0%, #311d5e 100%);
  height: 450px;
  color: white;
}

#video::before {
  content: '';
  background: url(../images/video-bg-min.png) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: 100%;
  opacity: 0.1;
}

#video .video-story {
  text-align: center;
  margin: 4rem 1rem;
  padding: 3rem;
}

#video .video-story .playbtn {
  position: relative;
  margin-top: 3rem;
}

#video .video-story .playbtn #play {
  position: absolute;
  top: 25px;
  left: 48.5%;
}

#video .video-story h2 {
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  margin: 2rem 0 1rem 0;
}

#expertise {
  margin: 2rem 0;
}

#expertise .title {
  text-align: center;
}

#expertise .title h1 {
  font-size: 22px;
  text-transform: uppercase;
  color: #413d4b;
  font-weight: bold;
  line-height: 1.2;
  padding: 1rem;
}

#expertise .title p {
  font-size: 16px;
  color: rgba(47, 45, 53, 0.749);
  line-height: 1.2;
}

#expertise div.bottom-line {
  background-color: #413d4b;
  height: 2px;
  width: 3rem;
  display: block;
  margin: 1rem auto;
}

#expertise .items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 3rem auto;
  padding: 1rem 2rem;
  text-align: center;
}

#expertise .items .card {
  padding: 1rem 0;
  border-right: 1px solid rgba(128, 128, 128, 0.322);
  border-bottom: 1px solid rgba(128, 128, 128, 0.322);
}

#expertise .items .card h2 {
  font-size: 15px;
  font-weight: bolder;
  color: #413d4b;
  text-transform: uppercase;
  margin: 1rem 0 0 0;
}

#expertise .items .card p {
  font-size: 15px;
  font-weight: 500;
  color: rgba(51, 51, 51, 0.749);
  padding: 0.5rem;
}

#team {
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(#09052f), to(#311d5e));
  background: linear-gradient(0deg, #09052f 0%, #311d5e 100%);
  height: 700px;
  color: white;
  text-align: center;
}

#team::before {
  content: '';
  background: url(../images/team-bg-min.png) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: 100%;
  opacity: 0.1;
}

#team .title {
  text-align: center;
  margin: 2rem 0;
}

#team .title h1 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
  padding: 1rem;
}

#team .title p {
  font-size: 16px;
  line-height: 1.2;
}

#team div.bottom-line {
  background-color: #413d4b;
  height: 2px;
  width: 3rem;
  display: block;
  margin: 1rem auto;
}

#team .items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 2rem;
  padding: 1.5rem;
}

#team .items .card {
  text-align: center;
  padding-bottom: 1rem;
  z-index: 2;
}

#team .items .card .card-img {
  padding-bottom: 1rem;
}

#team .items .card h2 {
  font-size: 13px;
  color: rgba(250, 250, 250, 0.702);
  text-transform: uppercase;
}

#team .items .card p {
  font-size: 15px;
  font-weight: 500;
  padding: 0;
}

#team #team-hire {
  position: relative;
  margin-top: 2rem;
}

#team #team-hire p {
  margin-bottom: 2rem;
}

#works {
  margin: 2rem 0;
  padding: 1rem 0;
  text-align: center;
}

#works .our-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#works .our-works h1 {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #413d4b;
  font-weight: bold;
  line-height: 1.2;
}

#works .our-works p {
  font-size: 1.1rem;
  color: #413d4b;
  line-height: 1.2;
  text-transform: capitalize;
}

#works .work-samples {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  margin: 3rem 0;
  padding: 1rem 0;
}

#works .work-samples .boxes {
  background: grey;
  height: 150px;
  width: 100%;
  border: 1px white solid;
}

#works .work-samples .boxes:nth-child(even) {
  background: #c2c2c2;
}

#testimonial {
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(#09052f), to(#311d5e));
  background: linear-gradient(0deg, #09052f 0%, #311d5e 100%);
  height: 520px;
  color: white;
  text-align: center;
}

#testimonial::before {
  content: '';
  background: url(../images/testimonial-bg-min.png) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: 100%;
  opacity: 0.1;
}

#testimonial img {
  display: block;
  margin: 1.5rem auto;
  padding: 1rem 0;
}

#testimonial p {
  font-size: 1rem;
  font-weight: 550;
  color: rgba(255, 255, 255, 0.851);
  line-height: 1.625;
  text-align: center;
  padding: 1rem 3rem;
}

#testimonial .details {
  margin: 0;
  padding: 1rem;
}

#testimonial .details h1 {
  font-size: 1rem;
  color: white;
  line-height: 1.571;
}

#testimonial .details p {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.702);
  line-height: 1.692;
}

#testimonial .testimonial-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem auto;
  margin: 1rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#testimonial .testimonial-images img {
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 10px 5px;
}

#testimonial .testimonial-images span.arrow {
  font-weight: bold;
  font-size: 2rem;
  color: #c2c2c2;
  margin: 1rem 1.5rem;
}

#testimonial .testimonial-images span.arrow .right {
  position: absolute;
  top: 50%;
  left: 0;
}

#testimonial .testimonial-images span.arrow .left {
  position: absolute;
  top: 50%;
  right: 0;
}

#contact {
  margin: 2rem;
  padding: 1.5rem;
}

#contact .contact-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

#contact .contact-grid .contact-form h1 {
  font-size: 22px;
  color: #413d4b;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}

#contact .contact-grid .contact-form .form-group {
  margin: 2rem 0;
}

#contact .contact-grid .contact-form .form-group .form-item {
  margin: 2rem 0;
}

#contact .contact-grid .contact-form .form-group .form-item .text-input {
  padding: 1rem;
  width: 80%;
  display: block;
}

#contact .contact-grid .contact-form .form-group button[type='submit'] {
  padding: 0.5rem 2rem;
  background: none;
}

#contact .contact-grid .client-list h1 {
  font-size: 22px;
  color: #413d4b;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}

#contact .contact-grid .client-list .logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

#contact .contact-grid .client-list .logo .clients {
  width: 80%;
  padding: 10px 0;
}

#footer {
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(#09052f), to(#311d5e));
  background: linear-gradient(0deg, #09052f 0%, #311d5e 100%);
  height: 400px;
  padding: 3rem 0;
  color: white;
}

#footer::before {
  content: '';
  background: url(../images/footer-background-min.png) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: 100%;
  opacity: 0.1;
}

#footer .footer-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  margin: 1rem;
  position: relative;
}

#footer .footer-content .footer-a .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #00e0d0;
}

#footer .footer-content .footer-a .footer-logo h1 {
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 1.2;
  text-align: center;
}

#footer .footer-content .footer-a p {
  font-size: 1rem;
  margin: 1.5rem 0;
  color: white;
  line-height: 1.857;
  text-align: left;
}

#footer .footer-content .footer-b h1 {
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  line-height: 1.733;
  margin-bottom: 2rem;
  text-align: left;
}

#footer .footer-content .footer-b .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0 0 0;
}

#footer .footer-content .footer-b .address img {
  margin-right: 1rem;
  height: 25px;
}

#footer .footer-content .footer-b .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0 0 0;
}

#footer .footer-content .footer-b .phone img {
  margin-right: 1rem;
  height: 20px;
}

#footer .footer-content .footer-b .phone p {
  font-size: 1.1rem;
  color: white;
  line-height: 1.57;
}

#footer .footer-content .footer-c h1 {
  font-size: 1rem;
  color: white;
  line-height: 1.733;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 1rem;
}

#footer .footer-content .footer-c .form-group {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .footer-content .footer-c .form-group .text-input {
  padding: 1rem;
  background: none;
  border: 1px white solid;
}

#footer .footer-content .footer-c .form-group .box {
  background: #c2c2c2;
  width: 80px;
  border: none;
}

#footer .footer-content .footer-c .form-group .box img {
  display: block;
  margin: 0.5rem auto;
}

#footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
}

#footer .copyright ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .copyright ul li {
  padding: 1rem 1rem 1rem 0;
  font-size: 14px;
  color: white;
  line-height: 1.857;
}

#footer .copyright p {
  font-size: 1rem;
  color: white;
  line-height: 1.857;
  text-align: center;
  margin: 1rem;
}

@media (max-width: 800px) {
  #header {
    height: 65vh;
  }
  #header #main-nav {
    padding: 0rem;
    margin: 1rem 0;
  }
  #header #main-nav a {
    padding: 3px;
  }
  #header #main {
    margin-top: 7rem;
  }
  #header #main h1 {
    font-size: 1.5rem;
  }
  #header #main p {
    font-size: 18px;
  }
  #about {
    margin: 1rem 0;
  }
  #about .about-content img {
    left: 50px;
  }
  #video .video-story .playbtn #play {
    left: 47%;
  }
  #team {
    height: 600px;
  }
  #team .items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 2rem;
    text-align: center;
  }
  #team .items .card {
    width: 150px;
  }
  #team .items .card .card-img img {
    width: 100%;
  }
  #team #team-hire {
    margin-top: 1rem;
  }
  #contact {
    padding: 0.5rem;
  }
  #contact .contact-grid {
    gap: 10px;
  }
  #contact .contact-grid .contact-form > .form-group > .form-item > .text-input {
    width: 90%;
  }
  #footer {
    padding: 0.5rem 0;
  }
  #footer .footer-content {
    gap: 1.4rem;
  }
  #footer .footer-content .footer-a p {
    font-size: 1rem;
    margin: 1rem 0;
    line-height: 1.5;
  }
  #footer .footer-content .footer-b .address img {
    height: 20px;
  }
  #footer .footer-content .footer-b .address p {
    line-height: 1.4;
  }
  #footer .footer-content .footer-b .phone p {
    font-size: 1rem;
    color: white;
    line-height: 1.57;
  }
  #footer .footer-content .footer-c .form-group .text-input {
    padding: 0.5rem;
    background: none;
  }
  #footer .footer-content .footer-c .form-group .box {
    width: 60px;
  }
  #footer .footer-content .footer-c img {
    margin-top: 1.5rem;
  }
}

@media (max-width: 500px) {
  .btn {
    padding: 0.5rem;
    font-weight: lighter;
  }
  .btn:hover {
    padding: 1rem;
  }
  #header {
    padding-bottom: 1rem;
    height: 90vh;
  }
  #header #main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 0.5rem 0 0 0;
  }
  #header #main-nav div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header #main-nav a {
    font-size: 12px;
    padding: 0.2rem;
  }
  #header #main-nav ul {
    margin-top: 0.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header #main-nav li:first-child {
    display: none;
  }
  #header #main {
    margin-top: 6rem;
    padding: 1rem 0;
  }
  #header #main h1 {
    font-size: 1.2rem;
    word-spacing: 1px;
  }
  #header #main p {
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.2;
    margin: 2rem 0;
  }
  #about .about-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
  }
  #about .about-content img {
    height: 200px;
    left: 20%;
  }
  #about .about-content .story-content {
    font-weight: bold;
  }
  #video .video-story .playbtn #play {
    left: 43%;
  }
  #expertise .items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin-bottom: 0;
  }
  #expertise .items .card h2 {
    padding: 0 0.5rem;
  }
  #expertise .items .card p {
    display: none;
  }
  #team {
    height: 700px;
  }
  #team .title {
    margin: 1rem 0 0 0;
  }
  #team .title h1 {
    font-size: 1rem;
  }
  #team .items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin-top: 0;
  }
  #team .items .card {
    width: 100px;
    margin-left: 1.2rem;
  }
  #team .items .card .card-img img {
    width: 100%;
  }
  #team #team-hire {
    margin-top: 0;
  }
  #team #team-hire p {
    line-height: 1.2;
    font-size: 0.9rem;
  }
  #works {
    padding: 0;
  }
  #works .our-works h1,
  #works .our-works p {
    font-size: 1rem;
  }
  #works .work-samples {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    margin: 1rem 0;
  }
  #works .work-samples .boxes {
    height: 100px;
  }
  #testimonial img {
    margin: 0.5rem auto;
  }
  #testimonial p {
    padding: 0;
  }
  #testimonial .testimonial-images {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #testimonial .testimonial-images img {
    width: 40px;
    height: 40px;
  }
  #testimonial .testimonial-images span.arrow {
    margin: 1rem 0.5rem;
  }
  #contact {
    margin: 1rem 0;
    padding: 1rem;
  }
  #contact .contact-grid {
    padding: 0 1rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 10px;
  }
  #contact .contact-grid .contact-form {
    border-bottom: 2px gray dotted;
  }
  #contact .contact-grid .contact-form > .form-group > .form-item {
    margin: 1rem 0;
  }
  #contact .contact-grid .contact-form > .form-group > .form-item .text-input {
    width: 100%;
  }
  #contact .contact-grid .client-list {
    margin-top: 1rem;
  }
  #contact .contact-grid .client-list .logo {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  #footer {
    padding: 1rem 0;
  }
  #footer .footer-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 0;
    margin: 0.5rem 0;
  }
  #footer .footer-content .footer-a {
    display: none;
  }
  #footer .footer-content .footer-b h1 {
    margin: 0;
    text-align: center;
  }
  #footer .footer-content .footer-b .address,
  #footer .footer-content .footer-b .phone {
    margin: 0.5rem 0;
  }
  #footer .footer-content .footer-c h1 {
    margin-bottom: 0;
    text-align: center;
  }
  #footer .footer-content .footer-c .form-group {
    margin: 1rem 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #footer .footer-content .footer-c .form-group .text-input {
    width: 80%;
    margin-right: 10px;
  }
  #footer .footer-content .footer-c img {
    display: block;
    margin: 1rem auto;
    height: 30px;
  }
  #footer .copyright {
    margin: -20px 0 0 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer .copyright ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #footer .copyright p {
    line-height: 1.5;
    margin: -5px 0 0 0;
  }
}
/*# sourceMappingURL=main.css.map */